{% extends "default/module.html.jinja2" %}
{% block nav_title %}
<img src="https://raw.githubusercontent.com/72nd/pydantic-xlsx/main/misc/doc-logo.svg" style="display: block; padding-top: 1em; width: calc(100% - var(--pad))">
{% endblock %}
