{% extends "default/module.html.jinja2" %}
{% block nav_title %}
<img src="https://raw.githubusercontent.com/72nd/pydantic-xlsx/main/misc/logo.png" style="display: block; margin: 1em auto; width: 100px">
{% endblock %}
